.#*
#*
*#
*~
*#fireSim.*
fireSim.*
!fireSim.org*
fireSim.org~
*.o
*.so
*.rds                                                                                                                                                                                                                                                                                                                                                                                                     
